 {{#Intro}}
<p>{{{.}}}</p>
{{/Intro}}
<div id="search-box-parent">
    <div class="search-box-el"></div> <span class="search-stop-language">stops paying women on</span>
    <div class="search-box-date colour"> </div>, <span class="search-paygap-language">a pay gap of</span>
    <div class="search-box-gap colour"> </div>
</div>
<h2>{{{scroll}}}</h2>

<div class="main-container">
    <div class='months-container'>
        <h3>January</h3>
        <div class='counter-container'>
            <div class='counter-sticky'>
                <span class="counter-number">0</span> compan<span class="more-than">ies have</span><span class="less-than" style="display: none;">y has</span> stopped paying women by
                <span class="counter-month">1 January</span>
            </div>
        </div>
        <div class='cal-month january'></div>
        <p>{{{January}}}</p>
        <h3>February</h3>
        <div class='cal-month february'></div>
        <p>{{{February}}}</p>
        <h3>March</h3>
        <div class='cal-month march'></div>
        <p>{{{March}}}</p>
        <h3>April</h3>
        <div class='cal-month april'></div>
        <p>{{{April}}}</p>
        <h3>May</h3>
        <div class='cal-month may'></div>
        <p>{{{May}}}</p>
        <h3>June</h3>
        <div class='cal-month june'></div>
        <p>{{{June}}}</p>
        <h3>July</h3>
        <div class='cal-month july'></div>
        <p>{{{July}}}</p>
        <h3>August</h3>
        <div class='cal-month august'></div>
        <p>{{{August}}}</p>
        <h3>September</h3>
        <div class='cal-month september'></div>
        <p>{{{September}}}</p>
        <h3>October</h3>
        <div class='cal-month october'></div>
        <p>{{{October}}}</p>
        <h3>November</h3>
        <div class='cal-month november'></div>
        <p>{{{November}}}</p>
        <h3>December 2018</h3>
        <div class='cal-month december'></div>
        <p>{{{December}}}</p>
        <div class="counter-marker"></div>

    </div>
</div>
<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <pattern id="diagonal-stripe-1" patternUnits="userSpaceOnUse" width="10" height="10">
            <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg=="
                x="0" y="0" width="10" height="10"> </image>
        </pattern>
    </defs>
</svg>