<div class="main-container">
  <h1>{{headline}}</h1>
  <!-- <h2>{{standfirst}}</h2> -->
  <div class='months-container'>
    <div class='cal-month january'></div>
    <p>{{january}}</p>
    <div class='cal-month february'></div>
    <div class='cal-month march'></div>
    <div class='cal-month april'></div>
    <p>{{april}}</p>
    <div class='cal-month may'></div>
    <div class='cal-month june'></div>
    <div class='cal-month july'></div>
    <p>{{july}}</p>
    <div class='cal-month august'></div>
    <div class='cal-month september'></div>
    <div class='cal-month october'></div>
    <div class='cal-month november'></div>
    <div class='cal-month december'></div>
    <p>{{december}}</p>
    <!-- <div class='cal-month march'></div>
    <div class='cal-month april'></div>
    <div class='cal-month may'></div> -->
  </div>
  <!-- <div class='text-column-container'>
  </div> -->
</div>
