
<p>If you work for a company that employs more than 250 people and you haven’t looked at the site yet, set aside some time and prepare for your eyeballs to spring from their sockets.</p>
<p>The government’s gender pay gap reporting website opens up for scrutiny the hidden power dynamics inside all mid-sized to large organisations, revealing pay differences between male and female staff</p>
<h2>If time is money and vice versa, here's when UK companies start paying women the same as men.</h2>
<div class='counter'>
  <div class='number'>1</div>
  <div class='number'>2</div>
  <div class='number'>3</div>
  <div class='number'>4</div>
</div>
<p>pay the typical women in as much as their male counterpart.</p>
<h2>Scroll down to see when all 9,000 companies pay women equal to men.</h2>

<div class="main-container">


  <div class='months-container'>
    <div class='cal-month january'></div>
    <p>{{january}}</p>
    <div class='cal-month february'></div>
    <div class='cal-month march'></div>
    <div class='cal-month april'></div>
    <p>{{april}}</p>
    <div class='cal-month may'></div>
    <div class='cal-month june'></div>
    <div class='cal-month july'></div>
    <p>{{july}}</p>
    <div class='cal-month august'></div>
    <div class='cal-month september'></div>
    <div class='cal-month october'></div>
    <div class='cal-month november'></div>
    <div class='cal-month december'></div>
    <p>{{december}}</p>
    <!-- <div class='cal-month march'></div>
    <div class='cal-month april'></div>
    <div class='cal-month may'></div> -->
  </div>
  <!-- <div class='text-column-container'>
  </div> -->
</div>
<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <pattern id="diagonal-stripe-1" patternUnits="userSpaceOnUse" width="10" height="10"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg==" x="0" y="0" width="10" height="10"> </image> </pattern> </defs> </svg>