@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    overflow: hidden;
}

@import "mq";
@import "enhancer";

.counter {

  .number{
    display: inline-block;
    background: red;
    color: #fff;
    min-width: 75px;
    text-align: center;
    @include fs-titlepiece(4);
    font-size: 96px;
    line-height: 96px;
    padding: 10px;
  }
}

.months-container {
  margin-top: 100px;
}

.gv-w, .gv-m {
  margin-bottom: 500px;
  h2 {
    max-width: 600px;
    margin-bottom: 50px;
    // display: none;
  }
}

.day {
  stroke: #ccc;

  &.weekend {
    fill: url(#diagonal-stripe-1);
  }
  &.hasValues {
    stroke: yellow;
    stroke-width: 2px;
    stroke-alignment: inner;
  }
  &.dataPaidLess {
    fill: red;
  }
}

.dayData {
  // fill-opacity: 0;
  // fill: white;
  // stroke: #000;
  // stroke-width: 2px;

  .gv-w &{
    stroke: #ff7e00;
  }

  .gv-m &{
    stroke: #2aadbc;
  }
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}


.gv-totals {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
  background: rgba(255,255,255,.9);
  left: 0;
}

.arrow-text {
  fill: #000;
  // stroke: white;
  font-size: 16px;
  // stroke-width: 0.03em
}