@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
    // overflow: hidden;
}

@import "mq";
@import "enhancer";

.element-interactive {
    margin: 0 !important;
}

.main-container {
    // display: flex;
    // flex-direction: column;
    // position: relative;
}

.counter-container {
    @include mq(mobile) {
        position: static;
        // display: inline-block;
        // left: 0;
        // width: 100%;
    }

    @include mq(desktop) {
        position: absolute;
        left: 660px;
    }
}

.counter-sticky {
    @include mq(mobile) {
        position: fixed;
        color: #000;
        text-align: left;
        @include fs-headline(3);
        line-height: 24px;
        padding-top: 10px;
        // padding-bottom: 20px;
        top: calc(100% - 120px);
        height: 120px;
        border-top: 2px solid #000;
        background: white;
        width: 100vw;
        left: 0;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    @include mq(tablet) {
        top: calc(100% - 110px);
        height: 110px;
        padding-left: 20px;
        padding-right: 20px;
        @include fs-titlepiece(2);
        font-size: 22px;
        line-height: 24px;
    }

    @include mq(desktop) {   
        @include fs-titlepiece(2);
        font-size: 22px;
        line-height: 24px;
        position: fixed;
        padding-top: 2px;
        top: 20px;
        width: auto;
        left: auto;
        padding: 0;
        background: none;
        max-width: 300px;
    }

    @include mq(wide) {
        max-width: 340px;
    }
    .counter-number {
        display: block;
        color: #ff7e00;
        font-size: 54px;
        line-height: 54px;
        @include fs-titlepiece(2);
    }
}

.months-container {
    margin-top: 100px;
}

.gv-w,
.gv-m {
    margin-bottom: 500px;
    h2 {
        max-width: 600px;
        margin-bottom: 50px;
        // display: none;
    }
}

.squares-visible {
    @for $i from 1 through 144 {
        .dayData:nth-child(#{$i}n) {
            fill-opacity: 0.9;
            stroke-opacity: 0.7;
            stroke-width: 0.6;
            transition-delay: #{$i * 0.045}s;
        }
    }
}

.day {
    stroke: #bdbdbd;
    stroke-width: 1px;
    &.hasValues {
        stroke: yellow;
        stroke-width: 2px;
        stroke-alignment: inner;
    }
    &.dataPaidLess {
        fill: red;
    }
}

.day-group {
    &.weekend {
        rect {
            fill: url(#psfll) !important;
            // fill-opacity: 0.2;
        }
    }
}

// @keyframes loopedMove {
//     0% {
//         transform: translateY(5px);
//     }
//     100% {
//         transform: translateY(-5px);
//     }
// }
.dayData {
    fill-opacity: 1;
    // stroke-opacity: 0;
    stroke-width: 1.5px;
    transition-property: all;
    transition-timing-function: linear;
    .gv-w & {
        stroke: #ff7e00;
    }
    .gv-m & {
        stroke: #2aadbc;
    }
    // animation: loopedMove 5s infinite;
}

.month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.month-svg {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: visible;
}

.gv-totals {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    background: rgba(255, 255, 255, .9);
    left: 0;
}

.arrow-text {
    fill: #000;
    // stroke: white;
    font-size: 16px;
    // stroke-width: 0.03em
}

.date-label {
    @include fs-GuardianHeadlineFull(1);
    fill: #f6f6f6;
    font-weight: 500;
}