@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    overflow: hidden;
}

@import "mq";

.interactive-atom {
     p, & > h2, .element-interactive,.element-atom { 
        max-width: 620px;

        @include mq(leftCol) {
            margin-left: 160px !important;
        }
        @include mq(wide) {
            margin-left: 240px !important;
        }
    }

    & > h2 {
    	@include fs-bodyHeading(4);
    
    	color: #333;
    	margin-top: 36px;
    	margin-bottom: 6px;
    }

    .element--immersive {
    	max-width: initial;
    	margin-left: 0 !important;
        margin-bottom: 36px !important;
    } 

    .element--showcase {
        
    }
}

.counter {

  @include mq(leftCol) {
    margin-left: 160px !important;
  }
  @include mq(wide) {
      margin-left: 240px !important;
  }

  .number{
    display: inline-block;
    background: red;
    color: #fff;
    min-width: 75px;
    text-align: center;
    @include fs-titlepiece(4);
    font-size: 96px;
    line-height: 96px;
    padding: 10px;
  }
}

.main-container {
  display: flex;
  // margin-bottom: 1000px;
}

.months-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  @include mq(leftCol) {
    margin-left: 160px !important;
  }
  @include mq(wide) {
      margin-left: 240px !important;
  }
}

.gv-w, .gv-m {
  margin-bottom: 500px;
  h2 {
    max-width: 600px;
    margin-bottom: 50px;
    // display: none;
  }
}

.squares-visible {
  @for $i from 1 through 144 {
    .dayData:nth-child(#{$i}n) {
        fill-opacity: 0.9;
        stroke-opacity: 0.7;
        stroke-width: 0.6;
        transition-delay: #{$i * 0.045}s;
    }
  }
}

.day {
  stroke: #ccc;

  &.weekend {
    fill: url(#diagonal-stripe-1);
    fill-opacity: 0.2;
  }
  &.hasValues {
    stroke: yellow;
    stroke-width: 2px;
    stroke-alignment: inner;
  }
  &.dataPaidLess {
    fill: red;
  }
}

.dayData {
  fill-opacity: 0;
  stroke-opacity: 0;
  stroke: white;
  transition-property: all;
  transition-timing-function: linear;

  .gv-w &{
    stroke: #ff7e00;
  }

  .gv-m &{
    stroke: #2aadbc;
  }
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}


.gv-totals {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
  background: rgba(255,255,255,.9);
  left: 0;
}

.arrow-text {
  fill: #000;
  // stroke: white;
  font-size: 16px;
  // stroke-width: 0.03em
}